/* These styles are just to make it easier to see the blocks, initially. */

*{
	outline: white 0px solid;
}

iframe {
	width: 100vw;
	border-radius: 15%;
  }
html {
	scroll-behavior: smooth;
	
  }
  ::-webkit-scrollbar {
	width: 5px;
  }

figure,
img{
	height: 100%;
	width: 100%;
}
figure > img {
	object-fit: cover;

}

h1{
	font-size: 60pt;
}

body{	
	background: rgb(18, 17, 17);
	overflow-x: hidden;
	}


#image{
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	overflow: scroll;
	height: 330px;
}

#link{
	margin-left: auto;
	margin-right: auto;
	mix-blend-mode: exclusion;
	
}


.link-block{
	float: left;
	background-color: rgb(255, 255, 255);
	width: 200px;
	height:100px;
	overflow:hidden;
	overflow: scroll;
	border-radius: 50%;
    flex-wrap: wrap;
	flex-direction: row;
	margin: 30px;
	rotate: -8deg;
	border: #ffffff solid 2px;
}

.link-block{
	opacity: 0.9;
}

.link-block:hover{
	transform: rotate(45deg);
	scale: 1.2;
	filter: grayscale(0);
}
.image-block{
	
	float: left;
	width: 200px;
	height:100px;
	overflow:hidden;
	border-radius: 15%;

    flex-wrap: wrap;
	flex-direction: row;

    margin-left: 0.50rem;
    margin-right: 0.50rem;
	margin-bottom: 0.50rem;

	mix-blend-mode: exclusion;

}

.image-block img{
	opacity:1 ;
	transition: 1s all;
	filter: grayscale(10);
}

.image-block img:hover{
	cursor:pointer;
	filter: grayscale(0);
	transform: scale(1.2);
	opacity: 0.5;}


#main-body{
	text-align: center;
	mix-blend-mode: exclusion;
}

  .wrapper-outer {
	overflow-x: hidden;
  }
  .wrapper {
	width: 70%;
	margin-left: 15%;
	padding: 0;
	z-index: -1;}

#nav {
	font-family: 'Cabin Sketch', cursive;
	font-size: 16px;
	margin-top: 17px;
	display: block;
	width: 70%;
	margin-bottom: 40px;
	position: fixed;
	z-index: 9999;
	mix-blend-mode: exclusion;}

.nav-bar:hover {
	background-color: #DCDCDC;
	color: black;}

.nav-bar-last:hover {
  		background-color: #DCDCDC;
  		color: black;}
	
.nav-bar {
		border-top: 1px solid #DCDCDC;
		border-left: 1px solid #DCDCDC;
		border-radius: 15%;
		padding-top: 20px;
		padding-bottom: 20px;
		text-decoration: none;
		margin-right: -5px;
		text-align: center;
		color: #ffffff;
		display: inline-block;
		width: 16.66%;	
		}

  .nav-bar-last {
	border-top: 1px solid #DCDCDC;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	border-radius: 15%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-decoration: none;
	margin-right: -5px;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	width: 16.66%;
  }


  .title img {
	width: 80%;
  }

  #main-body {
	position: relative;
	display: block;
	padding-top: 120px;
  }

  .bean-container {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 15%;
	z-index: 9999;
	mix-blend-mode: exclusion;
  }
  .bean-container img {
	width:45%;
	float: right;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 9999;
	position: relative;
	mix-blend-mode: exclusion;
  }

  .bean-container:hover{
	cursor:pointer;
	transform: scale(1.1) rotate(300deg);
	
  }

  link-block h3, p{
	color: #ffffff;
  }

  #text{
	
	margin-top: 100px;

  }

  .text-block{
	margin-top: 50px;
	display: flex auto;
	flex-wrap: wrap;
	flex-direction: row;
	border-top: 2px solid #DCDCDC;
	border-left: 2px solid #DCDCDC;
	border-right: 2px solid #DCDCDC;
	border-radius: 40%;
	padding: 10%;
	overflow: hidden;
	overflow: scroll;
	font-size: 20px;
	font-family: 'Cabin Sketch', cursive;
	height: 500px;
	
  }

#video{
	 	background-color: rgb(255, 255, 255);
		border-radius: 40%;
	    width:100%;
		height: 380px;
		white-space: nowrap;
		position: relative;
		overflow-x: scroll;
		display: inline-block;
		text-align: center;
		mix-blend-mode: exclusion;

		
}


.video-embed-block{
	display: inline-block;
	border-radius: 15%;
	width: auto;
  	overflow: hidden;
	overflow: scroll;
	margin-top: 10px;
	background-color: rgb(202, 31, 31);
	
}

.video-embed-block{
	filter: grayscale(10);
	transition: 1s all;
}

.video-embed-block:hover{
	filter: grayscale(0);
}


#video:hover {
	transform: scale(1.2);
}  


.image-block aside{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0pt;
	z-index: 1;
	padding: cal(var(--spacing)*2);
}



.image-block.active aside{
	display: block;
	opacity: 0.8;
}



  @media only screen and (max-width: 1000px) {
	.nav-bar {
		display: inline-block;
		width: 20%;
		height: 1%;
		font-size: 8px;}
		
	.nav-bar-last {
		display: inline-block;
		width: 20%;
		height: 1%;
		font-size: 8px;}

	  #main-body {
		position: relative;
		display: block;
		padding-top: 120px;
		padding-bottom: 50px;}
	
	#image{
		margin-left: 30px;
		margin-right: auto;
		}	
	#link{
		margin-left: 10px;
		margin-right: auto;
			}	

	
	.text-block{
		margin-top: 50px;
		display: flex auto;
		flex-wrap: wrap;
		flex-direction: row;
		border-top: 2px solid #DCDCDC;
		border-left: 2px solid #DCDCDC;
		border-right: 2px solid #DCDCDC;
		border-radius: 40%;
		padding: 10%;
		overflow: hidden;
		overflow: scroll;
		font-size: 10px;
		height: 300px;}

	.text-blocks{
		font-size: 10px;
		
	  }	
	#video{
		height: 250px;
	}

	

  }